.box1 {
  background-color: #ff0000;
  height: 200px;
  width: 200px;
}

.box2 {
  display: none;
  background-color: #ff0000;
  height: 200px;
  width: 200px;
}

.box3 {
  background-color: #00ff00;
  height: 200px;
  width: 200px;
}

.box4 {
  display: none;
  background-color: #ff0000;
  height: 200px;
  width: 200px;
}

.box5 {
  background-color: #00eeff;
  height: 200px;
  width: 200px;
}

.box6 {
  display: none;
  background-color: #ff0000;
  height: 200px;
  width: 200px;
}